.container {
    height: 100%;
    display: grid;
    font: 1em sans-serif;
    grid-template-areas: "header header header header " "nav nav nav nav" ". main main ." "footer footer footer footer";
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 20% 10% 40% 30%;
    justify-items: left;
    margin: auto;
    padding: 0;
}