.container {
    height: 100%;
    display: grid;
    font: 1em sans-serif;
    grid-template-areas: "header header header header " "nav nav nav nav" ". main aside ." "footer footer footer footer";
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 20% 10% 40% 30%;
    justify-items: left;
    margin: auto;
    padding: 0;
}

main {
    width: 93.4%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
}

aside {
    background-color: white;
    width: 80%;
    height: 100%;
    opacity: 0.8;
}

.glossary {
    padding-left: 20px;
    padding-right: 40px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    opacity: 0.8;
}