.main {
    display: grid;
    grid-template-areas: "header header header header " "nav nav nav nav" ". main aside ." "footer footer footer footer";
    grid-template-columns: 70px auto 300px 70px;
    grid-template-rows: 80px 50px auto 100px;
    justify-items: left;
}

header {
    grid-area: header;
    justify-items: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}